@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: linear-gradient(to #2525, rgba(51, 68, 51, 0.333), rgb(247, 241, 241));

	animation: 3s infinite alternate breathing-color--dark;

	font-family: 'Poppins', sans-serif;
}

@keyframes breathing-color--dark {
	from {
		background-color: #252525;
	}
	to {
		background-color: hsl(0, 0%, 20%);
	}
}

button:disabled,
button[disabled]{
  border: 2px solid #999999;
}

input:disabled::-webkit-input-placeholder{  
  opacity: 0.2;
}